.about-us {
  background: #52C5FF;
  padding: 75px 0;

  &__wrapper {
    padding: 0 50px 0 40px;

    color: #ffffff;
  }

  &__title {
    margin: 0 0 20px 0;

    font-size: 20px;
    text-transform: uppercase;
  }

  &__text{
    font-size: 16px;
    font-weight: lighter;
    line-height: 18px;
    margin: 0 0 30px 0;


    span {
      display: block;
      margin: 0 0 40px 0;
      padding: 0 20px 0 0;
    }
  }

  &__image {
    float: right;
    width: 35%;
    height: 240px;
    margin:  0 0 0 70px;

    background: red;
  }

  &__button {
    width: 20%;
  }
}