* {
  box-sizing: border-box;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

body {
  position: relative;

  min-width: 320px;
  padding: 0;
  margin: 0 auto;

  font: 0 "Roboto", "Verdana", sans-serif;
}

.main-content {
  padding: 100px 0 0 0;

  background: url("../images/main-background.png") repeat-x top;
}

.main-content--secondary-page-background-1 {
  background: url("../images/background-secondary.png") repeat-x top  ;
}

.main-content--secondary-page-background-2 {
  background: url("../images/secondary-page-background-2.png") repeat-x center 100px;
}




header {
  position: fixed;

  width: 100%;
  z-index: 30;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.upper-container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  display: block;
  max-height: 40px;
  padding: 0 20px;

  font: 12px "Roboto", "Verdana", sans-serif;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;


  color: #ffffff;
  background: #3753A4;
  border: none;
  border-radius: 4px;

  transition: .4s;

  &:hover {
    background: #52C5FF;
    color: #000000;
    border: 1px solid #3753A4;

    transition: .5s;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ttl {
  width: 460px;
  margin: 0 0 40px -10px;
  padding: 0 0 0 35px;

  font-size: 24px;
  font-weight: lighter;
  line-height: 55px;

  background: #52C5FF;
}

.static {
  font-size: 16px;

  h2 {
    margin: 0 0 20px 0;

    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 40px 0;
    padding: 0 20px 0 0;

    line-height: 20px;
    font-weight: lighter;

    color: #000000;
  }

  picture {
    width: 35%;
    height: 230px;
  }
}

.transparent-block {
  padding: 40px 0 0 0;

  background: rgba(255, 255, 255, .9);
}