* {
  box-sizing: border-box;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

body {
  position: relative;

  min-width: 320px;
  padding: 0;
  margin: 0 auto;

  font: 0 "Roboto", "Verdana", sans-serif;

}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.btn {
  display: block;
  max-height: 40px;
  padding: 0 20px;

  font: 12px "Roboto", "Verdana", sans-serif;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;


  color: #ffffff;
  background: #3753A4;
  border: none;

  transition: .4s;

  &:hover {
    background: #52C5FF;
    color: #000000;

    transition: .5s;
  }
}