.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1180px;
  padding: 10px 15px;
  align-items: center;
  margin: 30px auto;

  background: #A6D7FF;

  &__input {
    flex-basis: 88%;
    padding: 0 0 0 20px;

    font-size: 25px;
    line-height: 40px;

    border-radius: 4px;
    border: 1px solid #999999;

    &::placeholder {
      color: #3753A4;
    }
  }

  //&__toggle {
  //  display: none;
  //}

  &__button {
    flex-basis: 11%;

    margin: 0 1% 0 0;
  }

  &--closed .search__input,
  &--closed .search__button {
    display: none;
  }

  &--closed {
    background: transparent;
    justify-content: right;

    margin: 10px auto;
    padding: 0 15px;

    transition: 1s;

  }

  .search__toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;

    background: #3753A4;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: .5s;

    &:hover {
      background: #52C5FF;
    }

    &:hover .search__svg {
      color: #000000;
    }
  }

  &--opened {
    display: flex;

    transition: 1s;
  }

  &--opened .search__button {
    margin: 0 1%;
  }

  &__svg {
    width: 40px;
    height: 20px;
    margin: 10px 0 0 0;
    fill: currentColor;
    color: #ffffff;

    transition: .5s;
  }
}