.slider-block {

  background: url("../images/main-background.png") repeat-x top;

  padding: 30px 110px 70px;

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
    padding: 10px 15px;
    align-items: center;
    margin: 0 auto 30px;

    background: #A6D7FF;
  }

  &__input {
    flex-basis: 88%;
    padding: 0 0 0 20px;
    margin: 0 1% 0 0;

    font-size: 25px;
    line-height: 40px;

    border-radius: 4px;
    border: 1px solid #999999;

    &::placeholder {
      color: #3753A4;
    }
  }

  &__button {
    flex-basis: 11%;
  }

  &__sliders {
    position: relative;

    max-width: 1150px;
    margin: 0 auto;
    padding: 150px 0 0 0;

    background: rgba(255, 255, 255, .9);

    &:after {
      position: absolute;
      left: -10px;
      top: 40px;

      min-width: 450px;
      line-height: 50px;
      padding: 0 0 0 30px;

      font-size: 22px;

      background: #52C5FF;

      content: "What is you medical problem?";
    }

    &:before {
      position: absolute;
      left: -10px;
      top: 540px;

      min-width: 450px;
      line-height: 50px;
      padding: 0 0 0 30px;

      font-size: 22px;

      background: #52C5FF;

      content: "Choose your doctor";
    }
  }

  &__med-slider-items {
    position: relative;

    padding: 20px 130px;
    margin: 0 auto 180px;
    font-size: 12px;

    background: #F9A858;
    overflow: hidden;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 120px;
      height: 290px;

      background: rgba(255, 255, 255, .9);

      content: "";
    }

    &:before {
      left: 0;
      z-index: 10;
    }

    &:after {
      right: 0;
    }
  }

  &__med-slider-item {
    position: relative;

    display: inline-block;

    padding: 35px 0 0 25px;
    height: 250px;
    background: #ffffff;
  }

  &__med-slider-title {
    margin: 0 0 20px 0;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__med-slider-text {
    width: 45%;
  }

  &__med-slider-image {
    position: absolute;
    right: 30px;
    top: 55px;

    height: 147px;
    width: 144px;
  }

  &__med-slider-items .slick-slide {
    margin: 0 10px;
  }

  .slick-arrow {
    position: absolute;
    top: calc(50% - 25px);

    width: 50px;
    height: 50px;

    font-size: 0;

    border: none;
    background: #A6D7FF;
    border-radius: 30px;

    z-index: 20;
  }

  .slick-next {

    &:after {
      position: absolute;
      left: 20px;
      top: 15px;

      border-top: 10px solid #A6D7FF;
      border-left: 15px solid #3753A4;
      border-bottom: 10px solid #A6D7FF;

      content: "";
    }
  }

  .slick-prev {

    &:after {
      position: absolute;
      right: 20px;
      top: 15px;

      border-top: 10px solid #A6D7FF;
      border-right: 15px solid #3753A4;
      border-bottom: 10px solid #A6D7FF;

      content: "";
    }
  }

  &__med-slider-items .slick-prev {

    left: 5%;
  }

  &__med-slider-items .slick-next {

    right: 5%;
  }

  &__doc-slider-items {
    position: relative;

    padding: 0 80px;
    margin: 180px 0 0 0;

    font-size: 13px;
    text-transform: uppercase;

    background: #ffffff;

    overflow: hidden;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;

      background: #ffffff;

      content: "";
    }

    &:before {
      left: 0;
      z-index: 10;
    }

    &:after {
      right: 0;
    }
  }

  &__doc-slider-item {
    position: relative;

    display: inline-block;
    padding: 75px 0 0 0;
    margin: 0 5px;

  }

  &__doc-slider-items .slick-current {
    background: #F9A858;
    padding: 45px 0 40px 0;
    margin: 0 5px;
  }

  .slick-current .slider-block__doc-slider-image {
    height: 215px;
  }

  .slick-current .slider-block__doc-slider-name {
    margin: 20px 0 0 0;

    background: #F9A858;
    color: #000000;
  }

  &__doc-slider-image {
    height: 160px;
  }

  &__doc-slider-name {
    height: 50px;
    padding: 10px 10px 0 10px;

    text-align: center;

    background: #A6D7FF;
    color: #ffffff;
  }

  &__doc-slider-items .slick-next {

    right: 3%;
  }

  &__doc-slider-items .slick-prev {

    left: 3%;
  }

  &__doc-link {
    position: absolute;
    bottom: 5px;
    right: 110px;

    font-size: 12px;

    color: #52C5FF;
  }
}