.sliders {
  position: relative;

  //home-page sliders

  &__med-slider-items {
    position: relative;

    padding: 20px 130px;
    margin: 0 auto 70px;
    font-size: 12px;

    background: #F9A858;
    overflow: hidden;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 120px;
      height: 290px;

      background: rgba(255, 255, 255, .9);

      content: "";
    }

    &:before {
      left: 0;
      z-index: 10;
    }

    &:after {
      right: 0;
    }
  }

  &__med-slider-item {
    position: relative;

    display: inline-block;

    padding: 35px 0 0 25px;
    height: 250px;
    background: #ffffff;
  }

  &__med-slider-title {
    margin: 0 0 20px 0;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__med-slider-text {
    width: 45%;
  }

  &__med-slider-image {
    position: absolute;
    right: 30px;
    top: 55px;

    height: 147px;
    width: 144px;
  }

  &__med-slider-items .slick-slide {
    margin: 0 10px;
  }

  .slick-arrow {
    position: absolute;
    top: calc(50% - 25px);

    width: 50px;
    height: 50px;

    font-size: 0;

    border: none;
    background: #A6D7FF;
    border-radius: 30px;
    outline: none;

    z-index: 20;

    &:focus {
      box-shadow: 0 0 5px #3753A4;
    }

  }

  .slick-next {

    &:after {
      position: absolute;
      left: 20px;
      top: 15px;

      border-top: 10px solid #A6D7FF;
      border-left: 15px solid #3753A4;
      border-bottom: 10px solid #A6D7FF;

      content: "";
    }
  }

  .slick-prev {

    &:after {
      position: absolute;
      right: 20px;
      top: 15px;

      border-top: 10px solid #A6D7FF;
      border-right: 15px solid #3753A4;
      border-bottom: 10px solid #A6D7FF;

      content: "";
    }
  }

  &__med-slider-items .slick-prev {

    left: 5%;
  }

  &__med-slider-items .slick-next {

    right: 5%;
  }

  &__doc-slider-items {
    position: relative;

    padding: 0 80px 20px;
    margin: 70px 0 50px 0;

    font-size: 13px;
    text-transform: uppercase;

    background: #ffffff;

    overflow: hidden;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 130px;
      height: 100%;

      background: #ffffff;

      content: "";
    }

    &:before {
      left: 0;
      z-index: 10;
    }

    &:after {
      right: 0;
    }
  }

  &__doc-slider-item {
    height: 370px;

    display: inline-block;

    margin: 0 5px;
  }

  &__doc-slider-items .slick-current {

    background: #F9A858;

    transition: 1s;
  }

  .slick-slide {
    transition: 1s;
  }

  .slick-current .sliders__doc-slider-name {

    background: transparent;
    color: #000000;
  }

  &__doc-slider-image {
    height: 220px;
    margin: 75px 0 0 0;
  }

  &__doc-slider-name {
    height: 50px;
    padding: 10px 10px 0 10px;

    text-align: center;

    background: #A6D7FF;
    color: #ffffff;

    transition: .5s;

  }

  &__doc-slider-items .slick-next {

    right: 3%;
  }

  &__doc-slider-items .slick-prev {

    left: 3%;
  }

  &__doc-link {
    position: absolute;
    bottom: 5px;
    right: 135px;

    font-size: 12px;

    color: #52C5FF;
  }
  //  home-page sliders end
}