.social-buttons {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  padding: 0 0 0 60px;

  &__svg {
    width: 32px;
    height: 32px;
    margin-right: 10px;

    fill: currentColor;
    color: #808080;

    transition: .5s;

    &:hover {
      transition: .4s;
    }
  }

  &__svg--fb {

    &:hover {
      color: #3A559F;
    }
  }
  &__svg--ggl {

    &:hover {
      color: #DD4B39;
    }
  }
  &__svg--tw {

    &:hover {
      color: #50ABF1;
    }
  }
  &__svg--ytb {

    &:hover {
      color: #DC472E;
    }
  }
  &--text-block {
    width: 16%;
    margin: 0 0 0 auto;
    padding: 0;
  }
}
