<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header class="header">
      <div class="header__slogan  upper-container">LOREM IPSUM DOLOR SIT AMET</div>
    </header>
    <div class="navigation-block">
      <div class="navigation-block__wrapper  upper-container">
        <picture class="navigation-block__logo">
          <img src="../images/main-logo.svg" width="90" height="50" alt="Барбершоп «Бородинский»">
        </picture>
        <ul class="navigation-block__languages  navigation-block__languages--closed">
          <li class="navigation-block__language  navigation-block__language--eng  navigation-block__language--active">English</li>
          <li class="navigation-block__language  navigation-block__language--rus">Russian</li>
        </ul>
        <ul class="navigation-block__navigation-items">
          <li class="navigation-block__navigation-item  navigation-block__navigation-item--active">home</li>
          <li class="navigation-block__navigation-item">about us</li>
          <li class="navigation-block__navigation-item">articles</li>
          <li class="navigation-block__navigation-item">staff</li>
          <li class="navigation-block__navigation-item">media</li>
          <li class="navigation-block__navigation-item">faq</li>
          <li class="navigation-block__navigation-item">contacts</li>
        </ul>
      </div>
    </div>
    <div class="slider-block">
      <div class="slider-block__wrapper">
        <form class="slider-block__search">
          <input class="slider-block__input" type="text" name="search" placeholder="What are you searching for?">
          <button class="slider-block__button  btn" type="submit">Search</button>
        </form>
      </div>
      <div class="slider-block__sliders  container">
         <div class="slider-block__med-slider-items">
           <div class="slider-block__med-slider-item">
             <div class="slider-block__med-slider-title">speciality a</div>
             <div class="slider-block__med-slider-text">Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a
               neque. Duis massa felis, ultrices vel mauris eu, porta congue tortor.
             </div>
             <div class="slider-block__med-slider-image" style="background: url(../images/interns.png) no-repeat  center"></div>
           </div>
           <div class="slider-block__med-slider-item">
             <div class="slider-block__med-slider-title">speciality a</div>
             <div class="slider-block__med-slider-text">Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a
               neque. Duis massa felis, ultrices vel mauris eu, porta congue tortor.
             </div>
             <div class="slider-block__med-slider-image" style="background: url(../images/interns.png) no-repeat  center"></div>
           </div>
           <div class="slider-block__med-slider-item">
             <div class="slider-block__med-slider-title">speciality a</div>
             <div class="slider-block__med-slider-text">Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a
               neque. Duis massa felis, ultrices vel mauris eu, porta congue tortor.
             </div>
             <div class="slider-block__med-slider-image" style="background: url(../images/interns.png) no-repeat  center"></div>
           </div>
           <div class="slider-block__med-slider-item">
             <div class="slider-block__med-slider-title">speciality a</div>
             <div class="slider-block__med-slider-text">Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a
               neque. Duis massa felis, ultrices vel mauris eu, porta congue tortor.
             </div>
             <div class="slider-block__med-slider-image" style="background: url(../images/interns.png) no-repeat  center"></div>
           </div>
         </div>
        <div class="slider-block__doc-slider-items">
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-1.svg) no-repeat top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-3.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-2.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-3.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-2.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-3.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-2.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-3.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-2.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
          <div class="slider-block__doc-slider-item">
            <div class="slider-block__doc-slider-image" style="background: url(../images/doc-3.svg) no-repeat  top"></div>
            <div class="slider-block__doc-slider-name">lorem ipsum dolor sit amet</div>
          </div>
        </div>
        <a href="#" class="slider-block__doc-link">More</a>
      </div>
    </div>
    <div class="text-block">
      <div class="text-block__wrapper  container">
        <div class="text-block__title">random text</div>
        <div class="text-block__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui ofﬁcia deserunt mollit anim id est laborum. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span></span>
          Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a neque. Duis massa felis, ultrices vel mauris eu, porta congue tortor. Quisque blandit
          volutpat ipsum, eget facilisis lacus tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus, a eleifend nisl eros sed
          dolor. Quisque feugiat placerat molestie.
        </div>
      </div>
    </div>
    <script src="js/libraries.js"></script>
    <script src="js/partials/language-bar.js"></script>
    <script src="js/partials/med-slider.js"></script>
    <script src="js/partials/doc-slider.js"></script>

  </body>
</html>