<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <header class="header">
      <div class="header__slogan  upper-container">LOREM IPSUM DOLOR SIT AMET</div>
    </header>
    <div class="navigation-block">
      <div class="navigation-block__wrapper  upper-container">
        <picture class="navigation-block__logo">
          <img src="../images/main-logo.svg" width="90" height="50" alt="Барбершоп «Бородинский»">
        </picture>
        <ul class="navigation-block__languages  navigation-block__languages--closed">
          <li class="navigation-block__language  navigation-block__language--eng  navigation-block__language--active">English</li>
          <li class="navigation-block__language  navigation-block__language--rus">Russian</li>
        </ul>
        <ul class="navigation-block__navigation-items">
          <li class="navigation-block__navigation-item  navigation-block__navigation-item--active">home</li>
          <li class="navigation-block__navigation-item">about us</li>
          <li class="navigation-block__navigation-item">articles</li>
          <li class="navigation-block__navigation-item">staff</li>
          <li class="navigation-block__navigation-item">media</li>
          <li class="navigation-block__navigation-item">faq</li>
          <li class="navigation-block__navigation-item">contacts</li>
        </ul>
      </div>
    </div>
    <script src="js/libraries.js"></script>
    <script src="js/partials/language-bar.js"></script>
  </body>
</html>