<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Medical Center</title>
  <link rel="stylesheet" href="styles/style.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
  <h1 class="visually-hidden">Herzliya Medical Center</h1>
  <div class="slogan">
    <div class="slogan__text  upper-container">LOREM IPSUM DOLOR SIT AMET</div>
  </div>
  <div class="navigation-block">
    <div class="navigation-block__wrapper  upper-container">
      <picture class="navigation-block__logo">
        <a href="http://localhost:3000"><img src="../images/main-logo.svg" width="90" height="50" alt="Барбершоп «Бородинский»"></a>
      </picture>
      <ul class="navigation-block__languages  navigation-block__languages--closed">
        <li class="navigation-block__language  navigation-block__language--eng  navigation-block__language--active">English</li>
        <li class="navigation-block__language  navigation-block__language--rus">Russian</li>
      </ul>
      <ul class="navigation-block__navigation-items">
        <li class="navigation-block__navigation-item"><a>home</a></li>
        <li class="navigation-block__navigation-item"><a href="http://localhost:3000/about-us.html?search=">about us</a></li>
        <li class="navigation-block__navigation-item"><a href="#">articles</a></li>
        <li class="navigation-block__navigation-item"><a href="#">staff</a></li>
        <li class="navigation-block__navigation-item"><a href="#">media</a></li>
        <li class="navigation-block__navigation-item"><a href="#">faq</a></li>
        <li class="navigation-block__navigation-item"><a href="#">contacts</a></li>
      </ul>
    </div>
  </div>
</header>
<main class="main-content  main-content--background-image">
  <form class="search  search--closed">
    <input class="search__input" type="text" name="search" placeholder="What are you searching for?">
    <button class="search__button  btn" type="submit">Search</button>
    <div class="search__toggle"><svg class="search__svg"><use class="search__changing-icon" xlink:href="#search-icon"></use></svg></div>
  </form>
  <div class="transparent-content-block container">
    <div class="transparent-content-block__wrapper ">
      <div class="personal-doc-slider">
        <div class="personal-doc-slider__slide">
          <h1 class="personal-doc-slider__title ttl">Peripheral nerve reconstruction</h1>
          <div class="personal-doc-slider__wrapper">
            <picture class="personal-doc-slider__image">
              <img src="../images/secondary-page-doc.png" alt="doc">
            </picture>
            <div class="personal-doc-slider__text">Ultrices vel mauris eu, porta congue tortor. Quisque blandit volutpat ipsum, eget facilisis lacus
              tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus, a
              eleifend nisl eros sed dolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem eget, congue.idunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem egetdolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat</div>
          </div>
        </div>
        <div class="personal-doc-slider__slide">
          <h1 class="personal-doc-slider__title ttl">Peripheral nerve reconstruction</h1>
          <div class="personal-doc-slider__wrapper">
            <picture class="personal-doc-slider__image">
              <img src="../images/secondary-page-doc.png" alt="doc">
            </picture>
            <div class="personal-doc-slider__text">Ultrices vel mauris eu, porta congue tortor. Quisque blandit volutpat ipsum, eget facilisis lacus
              tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus, a
              eleifend nisl eros sed dolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem eget, congue.idunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem egetdolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat</div>
          </div>
        </div>
        <div class="personal-doc-slider__slide">
          <h1 class="personal-doc-slider__title ttl">Peripheral nerve reconstruction</h1>
          <div class="personal-doc-slider__wrapper">
            <picture class="personal-doc-slider__image">
              <img src="../images/secondary-page-doc.png" alt="doc">
            </picture>
            <div class="personal-doc-slider__text">Ultrices vel mauris eu, porta congue tortor. Quisque blandit volutpat ipsum, eget facilisis lacus
              tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus, a
              eleifend nisl eros sed dolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem eget, congue.idunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
              mauris, volutpat nec lorem egetdolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
              augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
              Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
              tristique porta. Mauris lectus erat</div>
          </div>
        </div>
      </div>
      <div class="doctor-card">
        <h2 class="doctor-card__title">doctors</h2>
        <div class="doctor-card__slider">
          <div class="doctor-card__slide">
            <div class="doctor-card__card-wrapper">
              <div class="doctor-card__person-wrapper">
                <div class="doctor-card__image"  style="background: url(../images/secondary-page-doc.png)"></div>
                <div class="doctor-card__name">name name</div>
                <div class="doctor-card__jobs-title">jobs title</div>
              </div>
              <div class="doctor-card__doc-info-wrapper">
                <div class="doctor-card__doc-info-text">
                  <p>Ultrices vel mauris eu</p>
                  <p>tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus</p>
                  <p>tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
                    mauris, volutpat nec lorem eget, congue.idunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
                    mauris, volutpat nec lorem egetdolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
                    augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat</p>
                </div>
                <div class="doctor-card__speciality-wrapper">
                  <div class="doctor-card__speciality-items">
                    <div class="doctor-card__speciality-item">speciality A</div>
                    <div class="doctor-card__speciality-item">speciality A</div>
                  </div>
                  <div class="doctor-card__links">
                    <div class="doctor-card__link">Curruculum Vitae</div>
                    <div class="doctor-card__link">Video/Interview</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="doctor-card__card-wrapper">
              <div class="doctor-card__person-wrapper">
                <div class="doctor-card__image"></div>
                <div class="doctor-card__name">name name</div>
                <div class="doctor-card__jobs-title">jobs title</div>
              </div>
              <div class="doctor-card__doc-info-wrapper">
                <div class="doctor-card__doc-info-text">
                  <p>Ultrices vel mauris eu</p>
                  <p>tincidunt vel. Cras commodo, libero sed rutrum malesuada, lorem neque placerat tellus</p>
                  <p>tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
                    mauris, volutpat nec lorem eget, congue.idunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat, malesuada in tincidunt vel, lacinia vel arcu. Nam
                    mauris, volutpat nec lorem egetdolor. Quisque feugiat placerat molestie. Sed ligula risus, tempor vitae
                    augue in, tempor tincidunt metus. Proin dui urna, venenatis ut ante ut, vehicula placerat felis.
                    Aenean molestie mauris sit amet augue vulputate tincidunt. Sed elementum ipsum eget
                    tristique porta. Mauris lectus erat</p>
                </div>
                <div class="doctor-card__speciality-wrapper">
                  <div class="doctor-card__speciality-items">
                    <div class="doctor-card__speciality-item">speciality A</div>
                    <div class="doctor-card__speciality-item">speciality A</div>
                  </div>
                  <div class="doctor-card__links">
                    <div class="doctor-card__link">Curruculum Vitae</div>
                    <div class="doctor-card__link">Video/Interview</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  .
  <div class="contacts contacts--blue">
    <div class="contacts__wrapper contacts--blue  container">
      <div class="contacts__items">
        <img class="contacts__logo" src="../images/main-logo.svg" width="90" height="60" alt="Барбершоп «Бородинский»">
        <a class="contacts__item" href="#">Address // 7 Ramat Yam st. Herzliya, Israel</a>
        <a class="contacts__item" href="tel: +972732723860">Telephone No. // +972-73-272-3860</a>
        <a  class="contacts__item" href="#">E-Mail // contact@hmcisrael.com</a>
      </div>
      <iframe class="contacts__location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.982219825763!2d34.80080041559801!3d32.17775418115705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d489beadc592b%3A0xdac9b0d5528118fc!2zUmFtYXQgWWFtIDcsIEhlcnRzbGl5YSwg0JjQt9GA0LDQuNC70Yw!5e0!3m2!1sru!2sby!4v1540988475467" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer__wrapper  container">
    <div class="footer__content">
      Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a neque. Duis massa felis,
      ultrices vel mauris eu, porta congue tortor. Quisque blandit volutpat ipsum, eget facilisis lacus
      tincidunt.Cras commodo, libero sed
    </div>
    <div class="footer__text">Vivamus mi urna, pellentesque at vestibulum sit amet, bibendum a neque. Duis massa felis,
      ultrices vel mauris eu, porta congue tortor.
    </div>
    <div class="social-buttons">
      <div class="social-buttons__button">
        <svg class="social-buttons__svg  social-buttons__svg--fb"><use xlink:href="#facebook-icon"></use></svg>
      </div>
      <div class="social-buttons__button">
        <svg class="social-buttons__svg  social-buttons__svg--ggl"><use xlink:href="#google-plus-icon"></use></svg>
      </div>
      <div class="social-buttons__button">
        <svg class="social-buttons__svg  social-buttons__svg--tw"><use xlink:href="#twitter-icon"></use></svg>
      </div>
      <div class="social-buttons__button">
        <svg class="social-buttons__svg  social-buttons__svg--ytb"><use xlink:href="#youtube-icon"></use></svg>
      </div>
    </div>
  </div>
</footer>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         style="display: none;" xml:space="preserve">

      <symbol id="twitter-icon" viewBox="0 0 38 38"
         style="enable-background:new 0 0 38 38;"
         xml:space="preserve">
        <path d="M19,0C8.507,0,0,8.507,0,19s8.507,19,19,19c10.494,0,19-8.507,19-19S29.494,0,19,0 M30.124,13.67
          c0.009,0.224,0.013,0.447,0.013,0.674c0,9.032-7.322,16.357-16.356,16.357c-3.216,0-6.216-0.929-8.745-2.533H5.033
          c4.944,0.738,8.429-2.407,8.429-2.407c-4.406-0.344-5.275-4.01-5.275-4.01c1.556,0.264,2.531-0.105,2.531-0.105
          c-4.958-1.16-4.537-5.698-4.537-5.698c1.149,0.687,2.48,0.739,2.48,0.739C4.282,12.835,7.026,9.09,7.026,9.09
          c4.59,5.56,11.338,5.938,11.781,5.955c-0.099-0.418-0.149-0.853-0.149-1.3c0-3.168,2.569-5.736,5.74-5.736
          c1.652,0,3.142,0.697,4.189,1.815c0.291-0.081,0.572-0.169,0.841-0.259c1.626-0.542,2.787-1.161,2.787-1.161
          c-0.281,1.678-2.35,3.087-2.498,3.186c-0.005,0.005-0.009,0.006-0.009,0.006c0.004,0,0.008-0.001,0.011-0.001
          c1.606-0.16,3.247-0.843,3.247-0.843C32.472,11.793,30.451,13.413,30.124,13.67"></path>
      </symbol>
      <symbol id="youtube-icon" viewBox="0 0 38 38"
         style="enable-background:new 0 0 38 38;"
         xml:space="preserve">
        <polygon  points="14.167,19.879 9.448,19.879 9.448,21.331 11.038,21.331 11.038,30.014 12.573,30.014
		    12.573,21.327 14.167,21.327 	"></polygon>
        <path  d="M16.71,28.108c0,0.047,0,0.104-0.026,0.138c-0.175,0.227-0.383,0.414-0.657,0.515
        c-0.238,0.087-0.427-0.02-0.477-0.267c-0.021-0.098-0.021-0.2-0.021-0.3c-0.001-1.839-0.006-5.608-0.008-5.654h-1.357
        c0,0.052-0.001,5.303,0.002,6.294c0.001,0.27,0.029,0.536,0.142,0.785c0.12,0.271,0.318,0.441,0.616,0.49
        c0.218,0.038,0.43,0.014,0.637-0.057c0.424-0.146,0.756-0.422,1.048-0.752c0.026-0.029,0.054-0.058,0.103-0.11v0.824h1.36v-3.605
        v-3.881l-1.36,0.003V28.108z"></path>
        <path  d="M23.14,23.124c-0.287-0.611-0.891-0.773-1.413-0.642c-0.317,0.08-0.573,0.263-0.784,0.499
        c-0.07,0.078-0.147,0.232-0.147,0.232v-3.336h-1.362v10.135h1.362v-0.568c0,0,0.098,0.103,0.132,0.14
        c0.313,0.339,0.692,0.525,1.159,0.53c0.576,0.005,0.977-0.273,1.158-0.82c0.084-0.254,0.112-0.516,0.112-0.781
        c0.002-1.417,0.002-2.834,0-4.25C23.356,23.871,23.309,23.485,23.14,23.124 M21.955,26.349c0,0.655-0.001,1.311-0.002,1.967v0.027
        c0,0.076-0.009,0.153-0.024,0.228c-0.063,0.297-0.288,0.431-0.609,0.364c-0.194-0.039-0.346-0.151-0.477-0.293
        c-0.006-0.007-0.043-0.058-0.043-0.058v-0.111l-0.004-4.5v-0.001c0,0,0.029-0.083,0.094-0.139c0.16-0.142,0.337-0.231,0.558-0.209
        c0.188,0.018,0.339,0.105,0.409,0.279c0.052,0.133,0.094,0.279,0.095,0.422c0.003,0.67,0.004,1.339,0.004,2.009V26.349z"></path>
        <path  d="M27.031,27.356v0.961c0,0.336-0.271,0.608-0.606,0.608c-0.336,0-0.608-0.272-0.608-0.608v-1.87h2.609
        c0,0,0.015-1.305,0.004-1.896c-0.004-0.253-0.023-0.509-0.075-0.756c-0.135-0.641-0.479-1.123-1.124-1.335
        c-0.188-0.063-0.393-0.095-0.592-0.107c-0.663-0.043-1.243,0.146-1.697,0.654c-0.397,0.445-0.536,0.979-0.537,1.56
        c-0.002,1.11-0.007,2.222,0.004,3.331c0.003,0.282,0.035,0.571,0.1,0.847c0.138,0.591,0.461,1.056,1.03,1.312
        c0.416,0.189,0.855,0.198,1.3,0.133c0.715-0.104,1.202-0.488,1.438-1.18c0.177-0.518,0.157-1.653,0.157-1.653L27.031,27.356z
         M25.816,24.237c0-0.335,0.272-0.607,0.608-0.607c0.335,0,0.606,0.272,0.606,0.607v1.051h-1.215V24.237z"></path>
        <path  d="M19,0C8.506,0,0,8.507,0,19c0,10.492,8.506,19,19,19c10.493,0,19-8.508,19-19C38,8.507,29.493,0,19,0
         M21.407,7.921h1.384v5.737c0,0.076,0.006,0.153,0.019,0.229c0.042,0.236,0.217,0.347,0.445,0.268
        c0.277-0.096,0.489-0.288,0.669-0.514c0.025-0.033,0.021-0.093,0.021-0.141V7.921h1.395l-0.001,7.523h-1.394l0.002-0.808
        c-0.155,0.152-0.286,0.294-0.432,0.421c-0.256,0.226-0.546,0.394-0.886,0.461c-0.521,0.103-0.965-0.063-1.132-0.603
        c-0.055-0.181-0.089-0.374-0.09-0.563V7.921z M18.24,7.731c1.103,0,1.997,0.895,1.995,1.997v3.907c0,1.103-0.893,1.996-1.995,1.996
        c-1.104,0-1.997-0.894-1.997-1.996V9.729C16.243,8.626,17.137,7.731,18.24,7.731 M12.869,5.259c0,0,0.635,2.692,0.937,3.969h0.001
        c0.302-1.276,0.937-3.969,0.937-3.969h1.587c0,0-1.22,4.043-1.765,5.846c-0.02,0.065-0.028,0.136-0.028,0.204l0.001,4.135h-1.463
        v-4.135c0-0.068-0.01-0.139-0.028-0.204c-0.545-1.803-1.764-5.846-1.764-5.846H12.869z M30.315,29.256
        c0,1.849-1.478,3.359-3.325,3.399c-5.326,0.114-10.654,0.114-15.98,0c-1.848-0.04-3.326-1.551-3.326-3.399v-8.318
        c0-1.849,1.479-3.359,3.326-3.398c5.326-0.114,10.654-0.114,15.98,0c1.848,0.039,3.325,1.55,3.325,3.398V29.256z"></path>
        <path d="M18.24,14.291c0.317,0,0.575-0.259,0.575-0.576V9.649c0-0.318-0.258-0.576-0.575-0.576
        c-0.318,0-0.576,0.258-0.576,0.576v4.065C17.664,14.032,17.922,14.291,18.24,14.291"></path>
      </symbol>
      <symbol id="facebook-icon" viewBox="0 0 38 38"
         style="enable-background:new 0 0 38 38;"
         xml:space="preserve">
        <path d="M19,0C8.507,0,0,8.507,0,19s8.507,19,19,19c0.416,0,0.828-0.016,1.237-0.041V23.32H15.29v-5.991h4.947
        v-5.032c0-3.66,2.967-6.627,6.627-6.627h5.172v5.388h-3.701c-1.163,0-2.106,0.943-2.106,2.106v4.165h5.715l-0.79,5.991h-4.925
        v13.255C33.137,33.729,38,26.934,38,19C38,8.507,29.493,0,19,0"></path>
      </symbol>
      <symbol id="google-plus-icon" viewBox="0 0 38 38"
         style="enable-background:new 0 0 38 38;"
         xml:space="preserve">
        <path d="M19,0C8.507,0,0,8.508,0,19c0,10.494,8.507,19,19,19c10.494,0,19-8.506,19-19C38,8.508,29.494,0,19,0
	      M22.153,20.6c-0.65,4.269-3.833,6.716-7.953,6.716c-4.63,0-8.384-3.754-8.384-8.384s3.754-8.384,8.384-8.384
	      c2.24,0,4.202,0.8,5.631,2.187l-2.406,2.406c-0.814-0.821-1.93-1.258-3.225-1.258c-2.727,0-4.936,2.323-4.936,5.048
        c0,2.727,2.209,4.983,4.936,4.983c2.284,0,4.014-1.104,4.513-3.314H14.2v-3.367h7.932c0.096,0.542,0.145,1.11,0.145,1.698
        C22.276,19.515,22.233,20.07,22.153,20.6 M32.221,19.556h-2.938v2.937h-2.087v-2.937h-2.938v-2.088h2.938v-2.938h2.087v2.938h2.938
        V19.556z"></path>
      </symbol>
      <symbol id="search-icon" viewBox="0 0 446.25 446.25"
         style="enable-background:new 0 0 446.25 446.25;"
         xml:space="preserve">
        <path d="M318.75,280.5h-20.4l-7.649-7.65c25.5-28.05,40.8-66.3,40.8-107.1C331.5,73.95,257.55,0,165.75,0S0,73.95,0,165.75
        S73.95,331.5,165.75,331.5c40.8,0,79.05-15.3,107.1-40.8l7.65,7.649v20.4L408,446.25L446.25,408L318.75,280.5z M165.75,280.5
        C102,280.5,51,229.5,51,165.75S102,51,165.75,51S280.5,102,280.5,165.75S229.5,280.5,165.75,280.5z"></path>
      </symbol>
      <symbol id="changing-icon" viewBox="0 123.317 595.28 595.256"
         style="enable-background:new 0 123.317 595.28 595.256;"
         xml:space="preserve">
        <path d="M350.285,420.951l234.087-234.086c14.544-14.531,14.544-38.108,0-52.64c-14.544-14.543-38.096-14.543-52.64,0
		    L297.647,368.312l-234.1-234.086c-14.543-14.543-38.096-14.543-52.64,0c-14.543,14.531-14.543,38.108,0,52.64l234.1,234.086
		    l-234.1,234.087c-14.543,14.531-14.543,38.108,0,52.64c7.271,7.259,16.802,10.896,26.32,10.896c9.518,0,19.048-3.637,26.319-10.908
		    l234.1-234.087l234.086,234.087c7.271,7.271,16.802,10.908,26.32,10.908c9.518,0,19.048-3.637,26.319-10.908
		    c14.544-14.531,14.544-38.108,0-52.64L350.285,420.951z"></path>
      </symbol>
    </svg>
<script src="js/libraries.js"></script>
<script src="js/partials/language-bar.js"></script>
<script src="js/partials/search.js"></script>
<script src="js/partials/personal-doc-slider.js"></script>

</body>
</head>
</html>